<%= render "info", user: @user %>

<div>
  <%= link_to "編集", edit_admin_user_path(@user), class: "app-link-normal" %> |
  <%= link_to "一覧", admin_users_path, class: "app-link-normal" %>

  <%= button_to "削除", admin_user_path(@user), method: :delete,
    class: "app-btn-danger w-20 mt-10",
    form: { onsubmit: "return confirm('本当に削除しますか？');" } %>
</div>
