<% content_for :title, "User tweets" %>

<h1 class="app-h1">User tweets</h1>

<div id="user_tweets">
  <% @user_tweets.each do |user_tweet| %>
    <div class="mb-5">
      <%= render user_tweet %>
      <%= link_to "Show this user tweet", user_tweet, class: "app-link-normal" %>
    </div>
  <% end %>
</div>

<div class="mt-5">
  <%= paginate @user_tweets %>
</div>

<div class="mt-10">
  <%= link_to "New user tweet", new_user_tweet_path, class: "app-btn-primary" %>
</div>
