
<p><%= link_to "frontend_test", development_frontend_test_path, class: "app-link-normal" %></p>
<p><%= link_to "backend_test", development_backend_test_path, class: "app-link-normal" %></p>
<p><%= link_to "websocket_test", development_websocket_test_path, class: "app-link-normal" %></p>
