<%= vite_typescript_tag 'chat' %>

<h2 class="app-h2">
  Chat
  <% if @room %>
    room: <%= @room %>
  <% end %>
</h2>

<div class="space-x-2 my-5">
  <% @rooms.each do |room| %>
    <%= link_to (room ? room : 'default'), chat_index_path({room: room}), class: "app-link-normal" %>
  <% end %>
</div>

<div id="chat-root"
  data-all="<%= {
    token: @token,
    host: Rails.configuration.x.ws_server_host,
    }.to_json %>"
></div>
