<h2 class="app-h2">Go Chat</h2>
<div>
    <input type="text" id="username" placeholder="Username" class="app-form-input w-auto">
    <input type="text" id="message" placeholder="Message" class="app-form-input w-auto">
    <button onclick="sendMessage()" class="app-btn-primary w-auto">Send</button>
    <ul id="chat"></ul>
</div>

<script>
    let ws = new WebSocket("ws://localhost:8080/ws");
    
    function onMessage(event) {
        let msg = JSON.parse(event.data);
        let li = document.createElement("li");
        li.textContent = msg.username + ": " + msg.message;
        document.getElementById("chat").prepend(li);
    };

    function sendMessage() {
        let username = document.getElementById("username").value;
        let message = document.getElementById("message").value;
        ws.send(JSON.stringify({username, message}));
        document.getElementById("message").value = "";
    }
    
    ws.onmessage = onMessage;
</script>