.toastSlideIn {
  animation: toast-slide-in 0.5s ease-out;
}

@keyframes toast-slide-in {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
