<% @tweets.each do |tweet| %>
  <div class="mb-5">
    <div id="<%= dom_id tweet %>" class="bg-white shadow-sm rounded-xl p-4 mb-4 border-2 border-gray-200">
      <p class="text-sm text-gray-500">
        <strong class="font-semibold text-gray-700">User:</strong>
        <%= tweet.user.email %>
      </p>

      <p class="mt-2 text-gray-700">
        <strong class="font-semibold">Content:</strong>
        <%= tweet.content %>
      </p>

      <p class="mt-4">
        <%= link_to "参照", tweet_path(tweet), class: "app-link-normal" %>
      </p>
    </div>
  </div>
<% end %>

