<h1 class="app-h1">ツイート変更</h1>

<%= form_with(model: @tweet, url: tweet_path(@tweet), scope: :tweet) do |form| %>
  <%= render "form", form: form, tweet: @tweet %>
<% end %>

<br>

<div>
  <%= link_to "参照", tweet_path(@tweet), class: "app-link-normal" %> |
  <%= link_to "一覧", tweets_path, class: "app-link-normal" %>
</div>
