<% content_for :title, "User tweets" %>

<h1 class="app-h1">User tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <div class="mb-5">
      <%= render "tweet", tweet: tweet %>

      <%= link_to "Show this user tweet", tweet_path(tweet), class: "app-link-normal" %>
    </div>
  <% end %>
</div>

<div class="mt-5">
  <%= paginate @tweets %>
</div>

<div class="mt-10">
  <%= link_to "New user tweet", new_tweet_path, class: "app-btn-primary" %>
</div>
