<h2 class="app-h2">新規ツイート</h2>

<%= form_with(model: @tweet, url: tweets_path, scope: :tweet) do |form| %>
  <%= render "form", form: form, tweet: @tweet %>
<% end %>

<br>

<div>
  <%= link_to "一覧", tweets_path, class: "app-link-normal" %>
</div>
