<h2 class="app-h2">新規ツイート確認</h2>

<%= form_with(model: @tweet, url: tweets_path, scope: :tweet) do |form| %>
  <%= render "confirm", form: form, tweet: @tweet %>

  <div class="my-2">
    <%= form.submit "戻る", class: "app-btn-primary w-40", name: "back" %>
    <%= form.submit class: "app-btn-primary w-40" %>
  </div>
<% end %>
