<%= render "info", tweet: @tweet %>

<div>
  <%= link_to "Edit this user tweet", edit_tweet_path(@tweet), class: "app-link-normal" %> |
  <%= link_to "Back to user tweets", tweets_path, class: "app-link-normal" %>

  <%= button_to "Delete", tweet_path(@tweet), method: :delete, class: "app-btn-danger w-20 mt-10" %>
</div>
