<%= vite_typescript_tag 'tweet' %>

<div id="tweet-root"
  data-all="<%= {
    token: @token,
    wsHost: Rails.configuration.x.ws_server_host,
    user: @user,
    tweets: @tweets.as_json(
      include: :user,
    ),
    }.to_json %>"
>
  <%= render 'shared/message/loading' %>
</div>
