# 共通のJWTシークレット
APP_JWT_SECRET=ThisIsASecretKey1234567890

# Pusher関連
PUSHER_URL="http://app-key:app-secret@localhost:6001/apps/app-id"

VITE_PUSHER_APP_KEY=app-key
VITE_PUSHER_HOST=localhost
VITE_PUSHER_PORT=6001
VITE_PUSHER_APP_CLUSTER=mt1
